.menu-link {
    text-decoration: none !important;
    color: #373a3c !important;
}

.not-active {
    pointer-events: none !important;
    cursor: not-allowed !important;
    text-decoration: none !important;
}

.not-active > div {
    background-color: #e9ecef !important;
}

.profile-link {
    text-decoration: none !important;
    color: #373a3c !important;
}
.bordershadow-form {
    box-shadow: rgba(35, 35, 35, 0.1) 0px 10px 30px 0px;
    border: none !important;
}
.bordershadow {
    box-shadow: rgba(35, 35, 35, 0.1) 0px 10px 30px 0px;
    border: none !important;
}

.bordershadow:hover {
    box-shadow: rgba(35, 35, 35, 0.2) 0px 10px 40px 0px;
    transform: scale(1.01, 1.01);
    -webkit-transform: scale(1.01, 1.01);
}

.bordershadow:hover::after {
    opacity: 1;
}

.ellipsis li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.early-badge-primary {
    color: white;
    background-color: #27496d;
}

.green {
    color: #3FB618;
}

.page-item-color {
    background-color: #00909e !important;
    border-color: #00909e !important;
}

.navbar-color {
    background-color: #00909e !important;
}

.card-header-color {
    background-color: white !important;
    border-bottom: none !important;
}

footer.page-footer {
    bottom: 0;
    position: absolute;
    left: 0;
    width: 100%;
    height: 90px;
}

footer.page-footer .footer-copyright {
    overflow: hidden;
}

#wrapper {
    position: relative;
    min-height:100%;
}

html, body {
    height:100%;
}

#main {
    padding-bottom: 90px;
}

.container .row h1 {
    margin-top: 1em;
}

.full-center {
    position: absolute;
    top: 45%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.align-right {
    position: absolute;
    top: 70%;
    left: 90%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.profile-list span.reason-check-right {
    float: right;
}

.wordwrap { 
    white-space: pre-wrap;      /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */    
    white-space: -pre-wrap;     /* Opera <7 */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word;      /* IE */
}

.hide {
    display: none;
}

.border {
    border: 1px solid gray;
}
  
.fas {
    font-size: 18px;
}
.fas {
    transition: transform .2s;
}
  
.fas.active {
    transform: rotateZ(180deg);
}

.h1-size {
    font-size: 2.34375rem;
}

.custom-rounded-small {
    border-radius: 0.5em !important;
}
.custom-rounded {
    border-radius: 1em !important;
}
.custom-rounded-top {
    border-radius: 0.75em 0.75em 0em 0em;
}
.custom-rounded-small-right {
    border-radius: 0em 0.5em 0.5em 0em !important;
}
.custom-rounded-small-left {
    border-radius: 0.5em 0em 0em 0.5em !important;
}
.light-border {
    border: 1px solid rgba(0, 0, 0, 0.050) !important;
}
.larger-badge {
    font-size: 1em !important;
}
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}
.profile-not-processed {
    background-color: #9954BB;
    border-radius: 0em 0em 1em 1em;
}
.profile-no-depression {
    background-color: #27496d;
    border-radius: 0em 0em 1em 1em;
}
.profile-depression {
    background-color: #bd2e44;
    border-radius: 0em 0em 1em 1em;
}
.bold {
    font-weight: bold;
}
.no-right-padding {
    padding-right: 0em !important;
}
.vertical-align{
    display: table-cell;
    vertical-align: middle;
}

.inline-block{
    display:inline-block;
}

.bc-card{
    background-color:#f1f1f1 !important; /*#00919e26*/
}