version: '3'

services:
  web:
    build:
      context: .
    ports:
      - "8000:8000"
    env_file:
      - local-var.env
    volumes:
      - ./app:/app
    command: sh -c "python manage.py runserver 0.0.0.0:8000"
    depends_on:
      - db
    links: 
      - db
  db:
    image: postgres
    environment:
        - "POSTGRES_HOST_AUTH_METHOD=trust"
    volumes:
        - postgres_data:/var/lib/postgresql/data/

  deploy_staging:
    build: .
    env_file:
      - deploy-staging-var.env

  deploy_production:
    build: .
      
volumes:
    postgres_data: