{% extends "base_generic.html" %}

{% load i18n %}
{% block content %}
<div id="about-content">
    <div class="jumbotron">
    <div class="container">
        <h1 class="display-3">About</h1>
        <p class="lead">Early Risk Detection of Mental Disorders.</p>
        <hr class="my-4">
        <p class="lead">Automatic profiling of social media users from the analysis of unstructured data.</p>

        <p>If you want to contribute and extend or improve the web app functionality, please go to this GitHub repository:</p>
        <p class="lead">
            <a class="custom-rounded-small btn btn-primary btn-lg" href="https://github.com/palomapiot/early" role="button" target="_blank"><i class="fab fa-github"></i> Early</a>
        </p>

        <p>If you want to contribute and extend or improve the profiling service, please go to this GitHub repository:</p>
        <p class="lead">
            <a class="custom-rounded-small btn btn-primary btn-lg" href="https://github.com/palomapiot/profiler-buddy" role="button" target="_blank"><i class="fab fa-github"></i> Profiler Buddy</a>
        </p>
        
        <p>In case you have any query or suggestion about the work, please contact me here:</p>
        <p class="lead">
            <a class="custom-rounded-small btn btn-primary btn-lg" href="mailto:paloma.piot@udc.es" role="button"><i class="fas fa-envelope"></i> Email me</a>
        </p>
    </div>
    </div>
</div>
{% endblock %}