<!--
"""
    Copyright 2020-2021 Paloma Piot Pérez-Abadín
	
	This file is part of early.
    early is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    early is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with early.  If not, see <https://www.gnu.org/licenses/>.
"""    
-->

{% load i18n %}
<script type="text/javascript">
  $(document).ready(function(){
    $('.not-active').click(function (event) {
        event.preventDefault();
    // or use return false;
    });

  });
</script>
<div id="administration-content" class="row">
    <h1 class="col-12 mb-4" name="administration">{% trans 'Administration' %}</h1>
    <div class="col-6">
        <a href="#loaddata" class="menu-link load-data {% if globaldata.load_in_progress %}not-active{% endif %}" data-toggle="modal">
            <div class="custom-rounded card shadow p-3 mb-5 bordershadow">
                <div class="card-body text-center">
                    <h6 class="card-title mb-3"><em class="fab fa-reddit-alien fa-4x"></em></h6>
                    <h4 class="card-subtitle">{% trans 'Load Reddit data' %}</h4>
                </div>
            </div>
        </a>
    </div>
    {% include "load_data_modal.html" %}
    
    <div class="col-6">
        <a href="#export" class="menu-link" data-toggle="modal">
            <div class="custom-rounded card shadow p-3 mb-5 bordershadow">
                <div class="card-body text-center">
                    <h6 class="card-title mb-3"><em class="fas fa-download fa-4x"></em></h6>
                    <h4 class="card-subtitle">{% trans 'Export data' %}</h4>
                </div>
            </div>
        </a>
    </div>
    {% include "export_data_modal.html" %}

    <div class="col-6">
        <a href="#createcorpus" class="menu-link" data-toggle="modal">
            <div class="custom-rounded card shadow p-3 mb-5 bordershadow">
                <div class="card-body text-center">
                    <h6 class="card-title mb-3"><em class="fas fa-book fa-4x"></em></h6>
                    <h4 class="card-subtitle">{% trans 'Create corpus' %}</h4>
                </div>
            </div>
        </a>
    </div>
    {% include "create_corpus_modal.html" %}
    <div class="col-6">
        <a href="#processuser" class="menu-link" data-toggle="modal">
            <div class="custom-rounded card shadow p-3 mb-5 bordershadow">
                <div class="card-body text-center">
                    <h6 class="card-title mb-3"><em class="fas fa-user fa-4x"></em></h6>
                    <h4 class="card-subtitle">{% trans 'Process Reddit user' %}</h4>
                </div>
            </div>
        </a>
    </div>
    {% include "process_user_modal.html" %}
</div>
