
{% load i18n %}
<div class="modal fade" id="export" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="custom-rounded modal-content">
        <div class="modal-header">
        <h4 class="modal-title">{% trans 'Export data' %}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <form role="form" method="POST" action="{% url 'export' %}">
            <div class="modal-body">
                {% csrf_token %}
                <fieldset class="form-group">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="custom-rounded-small form-check-input" name="exportOptions" id="exportOptionsDemographic" value="demographic" checked="">
                            <h5>{% trans 'Export demographic data' %}</h5>
                        </label>
                        <div class="form-group">
                            <select class="custom-rounded-small form-control" id="demographicFormat" name="demographicFormat">
                                <option>CSV</option>
                                <option>JSON</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="exportOptions" id="exportOptionsDataset" value="dataset">
                            <h5>{% trans 'Export corpus' %}</h5>
                        </label>
                        <div class="form-group">
                            <div class="form-group">
                                <select class="custom-rounded-small form-control" id="corpus" name="corpus">
                                    <option value="">{% trans 'All corpus' %}</option>
                                    {% for corpus in all_corpus %}
                                        <option value='{{corpus.id}}'>{{ corpus.corpus_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <select class="custom-rounded-small form-control" id="datasetFormat" name="datasetFormat">
                                <option>CSV</option>
                                <option>JSON</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="exportOptions" id="exportOptionsLabeledData" value="labeled">
                            <h5>{% trans 'Export labeled data' %}</h5>
                        </label>
                        <div class="form-group">
                            <div class="form-group">
                                <select class="custom-rounded-small form-control" id="corpus" name="corpus">
                                    <option value="">{% trans 'All corpus' %}</option>
                                    {% for corpus in all_corpus %}
                                        <option value='{{corpus.id}}'>{{ corpus.corpus_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <select class="custom-rounded-small form-control" id="labeledDataFormat" name="labeledDataFormat">
                                <option>CSV</option>
                                <option>JSON</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <h6>{% trans 'Demographic labels to export' %}</h6>
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" id="age" name="age" checked="">
                                <label class="custom-control-label" for="age">{% trans 'Age' %}</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" id="gender" name="gender" checked="">
                                <label class="custom-control-label" for="gender">{% trans 'Gender' %}</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" id="location" name="location" checked="">
                                <label class="custom-control-label" for="location">{% trans 'Location' %}</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" id="personality" name="personality" checked="">
                                <label class="custom-control-label" for="personality">{% trans 'Personality' %}</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" id="depression" name="depression" checked="">
                                <label class="custom-control-label" for="depression">{% trans 'Depression' %}</label>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="modal-footer">
                <button type="submit" class="custom-rounded-small btn btn-primary">{% trans 'Export data' %}</button>
                <button type="button" class="custom-rounded-small btn btn-secondary" data-dismiss="modal">{% trans 'Close' %}</button>
            </div>
        </form>
    </div>
  </div>
</div>