{% extends "base_generic.html" %}

{% load i18n %}

{% block content %}
<div class="container">
    <div class="text-center mt-3 mb-3 p-3">
        <h1>EARLY</h1>
        <h6>Early Risk Detection of Mental Disorders</h6>
        <hr>
        <!--<h6><em class="flaticon-natural-language-processing flaticon-home"></em> <em class="flaticon-network flaticon-home"></em> <em class="flaticon-stress flaticon-home"></em></h6>-->
    </div>
</div>
<div id="social-media-wrapper" class="container">
    <div id="social-media-content" class="col-lg-5 col-md-6 col-sm-12 inline-block">
        <img src="/static/images/social-feed.svg" alt="Social media image" class="mb-3">
    </div>
    <div id="social-media-text" class="text-center p-3 col-lg-6 col-md-6 col-sm-12 vertical-align inline-block">
        <div class="card mb-3 bordershadow-form custom-rounded shadow p-3">
            <h3>We create profiles by loading the user's record data from social media posts</h3>
        </div>
    </div>
</div>
<div id="nlp-wrapper" class="container">
    <div id="nlp-text" class="text-center p-3 col-lg-6 col-md-6 col-sm-12 vertical-align inline-block">
        <div class="card mb-3 bordershadow-form custom-rounded shadow p-3">
            <h3>With natural language techniques and machine learning, we analyze each user to predict demographic data and mental disorders</h3>
        </div>
    </div>
    <div id="nlp-content" class="col-lg-5 col-md-6 col-sm-12 inline-block">
        <img src="/static/images/process.svg" alt="Process data image">
    </div>
</div>
<div id="health-wrapper" class="container">
    <div id="health-content" class="col-lg-5 col-md-6 col-sm-12 inline-block">
        <img src="/static/images/health.svg" alt="Health image" class="mb-3">
    </div>
    <div id="health-text" class="text-center p-3 col-lg-6 col-md-6 col-sm-12 vertical-align inline-block">
        <div class="card mb-3 bordershadow-form custom-rounded shadow p-3">
            <h3>Medical experts validate the data and help persons with potential mental disorders</h3>
        </div>
    </div>
</div>
{% endblock %}