{% extends "base_generic.html" %}

{% load i18n %}

{% block content %}
<div class="container">
    <div class="text-center card mt-3 mb-3 bordershadow-form custom-rounded shadow p-3 bc-card">
        <h1>EARLY</h1>
        <h6>Early Risk Detection of Mental Disorders</h6>
        <!--<h6><em class="flaticon-natural-language-processing flaticon-home"></em> <em class="flaticon-network flaticon-home"></em> <em class="flaticon-stress flaticon-home"></em></h6>-->
    </div>
</div>
<div class="container">
    <div class="col-lg-5 col-md-6 col-sm-12 inline-block">
        <img src="/static/images/social-feed.svg" alt="Social media image">
    </div>
    <div id="social-media-content" class="text-center p-3 col-lg-6 col-md-6 col-sm-12 vertical-align inline-block">
        <div class="card mb-3 bordershadow-form custom-rounded shadow p-3">
            <h3>We load data from social media posts</h3>
        </div>
    </div>
</div>
<div class="container">
    <div id="social-media-content" class="text-center p-3 col-lg-6 col-md-6 col-sm-12 vertical-align inline-block">
        <div class="card mb-3 bordershadow-form custom-rounded shadow p-3">
            <h3>With natural language techniques, we process each user to predict demographic data and mental disorders</h3>
        </div>
    </div>
    <div class="col-lg-5 col-md-6 col-sm-12 inline-block">
        <img src="/static/images/process.svg" alt="Process data image">
    </div>
</div>
<div class="container">
    <div class="col-lg-5 col-md-6 col-sm-12 inline-block">
        <img src="/static/images/health.svg" alt="Health image">
    </div>
    <div id="social-media-content" class="text-center p-3 col-lg-6 col-md-6 col-sm-12 vertical-align inline-block">
        <div class="card mb-3 bordershadow-form custom-rounded shadow p-3">
            <h3>We help potential persons with mental disorders</h3>
        </div>
    </div>
</div>
{% endblock %}