{% extends "base_generic.html" %}

{% load i18n %}
{% block content %}
<div class="container">
    <div id="account-content">
        <div class="row col-12 d-flex justify-content-between align-items-end">
            <h1>
                {% trans 'Profile: ' %} {{ profile.experiment_id }}
                {% if profile.is_valid %}
                <span title="Data validated by {{ profile.validated_by.username }}" data-toggle="tooltip" >
                    <em class="fas fa-check-circle green"></em>
                </span>
                {% endif %}
            </h1>
            <h3>
                {% if profile.data.depressed %}
                <span class="badge badge-pill badge-danger">{% trans 'Depression' %}</span> 
                {% else %}
                <span class="badge badge-pill badge-primary">{% trans 'No depression' %}</span> 
                {% endif %}
            </h3>
        </div>
        <hr>
        <div class="row col-12 mb-4">
            {% include "profile_fields.html" with profile=profile detail="true" %}
        </div>
        <div class="row col-12">
            <button type="button" data-toggle="modal" data-target="#edit-profile" class="btn btn-outline-primary btn-lg btn-block">Validate and edit data</button>
            {% include "edit_profile_modal.html" with profile=profile %}

        </div>
    </div>
</div>
{% endblock %}