
{% load i18n %}
<div class="modal fade" id="questionnaire" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content custom-rounded-small">
      <div class="modal-header">
        <h5 class="modal-title">{% trans 'Beck Depression Inventory' %}
          <span class="custom-rounded-small badge badge-pill early-badge-info">{{ depression_level }}</span>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form role="form" method="POST" action="{% url 'questionnaire' profile.id %}">
          <div class="modal-body">
            {% csrf_token %}
            <legend>{% trans '1. Sadness' %}</legend>
            <div class="form-group" id="q1">
              <div class="custom-control custom-radio">
                <input type="radio" id="q1-a0" value="0" name="q1" class="custom-control-input" {% if profile.questionnaire.q1 == "0" %} checked {% endif %}>
                <label class="custom-control-label" for="q1-a0">{% trans 'I do not feel sad.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q1-a1" value="1" name="q1" class="custom-control-input" {% if profile.questionnaire.q1 == "1" %} checked {% endif %}>
                <label class="custom-control-label" for="q1-a1">{% trans 'I feel sad much of the time.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q1-a2" value="2" name="q1" class="custom-control-input" {% if profile.questionnaire.q1 == "2" %} checked {% endif %}>
                <label class="custom-control-label" for="q1-a2">{% trans 'I am sad all the time.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q1-a3" value="3" name="q1" class="custom-control-input" {% if profile.questionnaire.q1 == "3" %} checked {% endif %}>
                <label class="custom-control-label" for="q1-a3">{% trans 'I am so sad or unhappy that I can\'t stand it.' %}</label>
              </div>
            </div>
            <div class="same-row">
              <h6>{% trans 'Context:' %}</h6>
              <p class="text-info">{{ profile.questionnaire_reasons.q1|safe }}</p>
            </div>
            <hr>
            <legend>{% trans '2. Pessimism' %}</legend>
            <div class="form-group" id="q2">
              <div class="custom-control custom-radio">
                <input type="radio" id="q2-a0" value="0" name="q2" class="custom-control-input" {% if profile.questionnaire.q2 == "0" %} checked {% endif %}>
                <label class="custom-control-label" for="q2-a0">{% trans 'I am not discouraged about my future.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q2-a1" value="1" name="q2" class="custom-control-input" {% if profile.questionnaire.q2 == "1" %} checked {% endif %}>
                <label class="custom-control-label" for="q2-a1">{% trans 'I feel more discouraged about my future than I used to be.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q2-a2" value="2" name="q2" class="custom-control-input" {% if profile.questionnaire.q2 == "2" %} checked {% endif %}>
                <label class="custom-control-label" for="q2-a2">{% trans 'I do not expect things to work out for me.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q2-a3" value="3" name="q2" class="custom-control-input" {% if profile.questionnaire.q2 == "3" %} checked {% endif %}>
                <label class="custom-control-label" for="q2-a3">{% trans 'I feel my future is hopeless and will only get worse.' %}</label>
              </div>
            </div>
            {% if profile.questionnaire_reasons.q2 != None and profile.questionnaire_reasons.q2 != "" %}
            <div class="same-row">
              <h6>{% trans 'Context:' %}</h6>
              <p class="text-info">{{ profile.questionnaire_reasons.q2|safe }}</p>
            </div>
            {% endif %}
            <hr>
            <legend>{% trans '3. Past Failure' %}</legend>
            <div class="form-group" id="q3">
              <div class="custom-control custom-radio">
                <input type="radio" id="q3-a0" value="0" name="q3" class="custom-control-input" {% if profile.questionnaire.q3 == "0" %} checked {% endif %}>
                <label class="custom-control-label" for="q3-a0">{% trans 'I do not feel like a failure.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q3-a1" value="1" name="q3" class="custom-control-input" {% if profile.questionnaire.q3 == "1" %} checked {% endif %}>
                <label class="custom-control-label" for="q3-a1">{% trans 'I have failed more than I should have.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q3-a2" value="2" name="q3" class="custom-control-input" {% if profile.questionnaire.q3 == "2" %} checked {% endif %}>
                <label class="custom-control-label" for="q3-a2">{% trans 'As I look back, I see a lot of failures.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q3-a3" value="3" name="q3" class="custom-control-input" {% if profile.questionnaire.q3 == "3" %} checked {% endif %}>
                <label class="custom-control-label" for="q3-a3">{% trans 'I feel I am a total failure as a person.' %}</label>
              </div>
            </div>
            {% if profile.questionnaire_reasons.q3 != None and profile.questionnaire_reasons.q3 != "" %}
            <div class="same-row">
              <h6>{% trans 'Context:' %}</h6>
              <p class="text-info">{{ profile.questionnaire_reasons.q3|safe }}</p>
            </div>
            {% endif %}
            <hr>
            <legend>{% trans '4. Loss of Pleasure' %}</legend>
            <div class="form-group" id="q4">
              <div class="custom-control custom-radio">
                <input type="radio" id="q4-0" value="0" name="q4" class="custom-control-input" {% if profile.questionnaire.q4 == "0" %} checked {% endif %}>
                <label class="custom-control-label" for="q4-0">{% trans 'I get as much pleasure as I ever did from the things I enjoy.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q4-1" value="1" name="q4" class="custom-control-input" {% if profile.questionnaire.q4 == "1" %} checked {% endif %}>
                <label class="custom-control-label" for="q4-1">{% trans 'I don\'t enjoy things as much as I used to.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q4-2" value="2" name="q4" class="custom-control-input" {% if profile.questionnaire.q4 == "2" %} checked {% endif %}>
                <label class="custom-control-label" for="q4-2">{% trans 'I get very little pleasure from the things I used to enjoy.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q4-3" value="3" name="q4" class="custom-control-input" {% if profile.questionnaire.q4 == "3" %} checked {% endif %}>
                <label class="custom-control-label" for="q4-3">{% trans 'I can\'t get any pleasure from the things I used to enjoy.' %}</label>
              </div>
            </div>
            {% if profile.questionnaire_reasons.q4 != None and profile.questionnaire_reasons.q4 != "" %}
            <div class="same-row">
              <h6>{% trans 'Context:' %}</h6>
              <p class="text-info">{{ profile.questionnaire_reasons.q4|safe }}</p>
            </div>
            {% endif %}
            <hr>
            <legend>{% trans '5. Guilty Feelings' %}</legend>
            <div class="form-group" id="q5">
              <div class="custom-control custom-radio">
                <input type="radio" id="q5-a0" value="0" name="q5" class="custom-control-input" {% if profile.questionnaire.q5 == "0" %} checked {% endif %}>
                <label class="custom-control-label" for="q5-a0">{% trans 'I don\'t feel particularly guilty.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q5-a1" value="1" name="q5" class="custom-control-input" {% if profile.questionnaire.q5 == "1" %} checked {% endif %}>
                <label class="custom-control-label" for="q5-a1">{% trans 'I feel guilty over many things I have done or should have done.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q5-a2" value="2" name="q5" class="custom-control-input" {% if profile.questionnaire.q5 == "2" %} checked {% endif %}>
                <label class="custom-control-label" for="q5-a2">{% trans 'I feel quite guilty most of the time.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q5-a3" value="3" name="q5" class="custom-control-input" {% if profile.questionnaire.q5 == "3" %} checked {% endif %}>
                <label class="custom-control-label" for="q5-a3">{% trans 'I feel guilty all of the time.' %}</label>
              </div>
            </div>
            {% if profile.questionnaire_reasons.q5 != None and profile.questionnaire_reasons.q5 != "" %}
            <div class="same-row">
              <h6>{% trans 'Context:' %}</h6>
              <p class="text-info">{{ profile.questionnaire_reasons.q5|safe }}</p>
            </div>
            {% endif %}
            <hr>
            <legend>{% trans '6. Punishment Feelings' %}</legend>
            <div class="form-group" id="q6">
              <div class="custom-control custom-radio">
                <input type="radio" id="q6-a0" value="0" name="q6" class="custom-control-input" {% if profile.questionnaire.q6 == "0" %} checked {% endif %}>
                <label class="custom-control-label" for="q6-a0">{% trans 'I don\'t feel I am being punished.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q6-a1" value="1" name="q6" class="custom-control-input" {% if profile.questionnaire.q6 == "1" %} checked {% endif %}>
                <label class="custom-control-label" for="q6-a1">{% trans 'I feel I may be punished.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q6-a2" value="2" name="q6" class="custom-control-input" {% if profile.questionnaire.q6 == "2" %} checked {% endif %}>
                <label class="custom-control-label" for="q6-a2">{% trans 'I expect to be punished.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q6-a3" value="3" name="q6" class="custom-control-input" {% if profile.questionnaire.q6 == "3" %} checked {% endif %}>
                <label class="custom-control-label" for="q6-a3">{% trans 'I feel I am being punished.' %}</label>
              </div>
            </div>
            {% if profile.questionnaire_reasons.q6 != None and profile.questionnaire_reasons.q6 != "" %}
            <div class="same-row">
              <h6>{% trans 'Context:' %}</h6>
              <p class="text-info">{{ profile.questionnaire_reasons.q6|safe }}</p>
            </div>
            {% endif %}
            <hr>
            <legend>{% trans '7. Self-Dislike' %}</legend>
            <div class="form-group" id="q7">
              <div class="custom-control custom-radio">
                <input type="radio" id="q7-a0" value="0" name="q7" class="custom-control-input" {% if profile.questionnaire.q7 == "0" %} checked {% endif %}>
                <label class="custom-control-label" for="q7-a0">{% trans 'I feel the same about myself as ever.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q7-a1" value="1" name="q7" class="custom-control-input" {% if profile.questionnaire.q7 == "1" %} checked {% endif %}>
                <label class="custom-control-label" for="q7-a1">{% trans 'I have lost confidence in myself.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q7-a2" value="2" name="q7" class="custom-control-input" {% if profile.questionnaire.q7 == "2" %} checked {% endif %}>
                <label class="custom-control-label" for="q7-a2">{% trans 'I am disappointed in myself.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q7-a3" value="3" name="q7" class="custom-control-input" {% if profile.questionnaire.q7 == "3" %} checked {% endif %}>
                <label class="custom-control-label" for="q7-a3">{% trans 'I dislike myself.' %}</label>
              </div>
            </div>
            {% if profile.questionnaire_reasons.q7 != None and profile.questionnaire_reasons.q7 != "" %}
            <div class="same-row">
              <h6>{% trans 'Context:' %}</h6>
              <p class="text-info">{{ profile.questionnaire_reasons.q7|safe }}</p>
            </div>
            {% endif %}
            <hr>
            <legend>{% trans '8. Self-Criticalness' %}</legend>
            <div class="form-group" id="q8">
              <div class="custom-control custom-radio">
                <input type="radio" id="q8-a0" value="0" name="q8" class="custom-control-input" {% if profile.questionnaire.q8 == "0" %} checked {% endif %}>
                <label class="custom-control-label" for="q8-a0">{% trans 'I don\'t criticize or blame myself more than usual.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q8-a1" value="1" name="q8" class="custom-control-input" {% if profile.questionnaire.q8 == "1" %} checked {% endif %}>
                <label class="custom-control-label" for="q8-a1">{% trans 'I am more critical of myself than I used to be.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q8-a2" value="2" name="q8" class="custom-control-input" {% if profile.questionnaire.q8 == "2" %} checked {% endif %}>
                <label class="custom-control-label" for="q8-a2">{% trans 'I criticize myself for all of my faults.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q8-a3" value="3" name="q8" class="custom-control-input" {% if profile.questionnaire.q8 == "3" %} checked {% endif %}>
                <label class="custom-control-label" for="q8-a3">{% trans 'I blame myself for everything bad that happens.' %}</label>
              </div>
            </div>
            {% if profile.questionnaire_reasons.q8 != None and profile.questionnaire_reasons.q8 != "" %}
            <div class="same-row">
              <h6>{% trans 'Context:' %}</h6>
              <p class="text-info">{{ profile.questionnaire_reasons.q8|safe }}</p>
            </div>
            {% endif %}
            <hr>
            <legend>{% trans '9. Suicidal Thoughts or Wishes' %}</legend>
            <div class="form-group" id="q9">
              <div class="custom-control custom-radio">
                <input type="radio" id="q9-a0" value="0" name="q9" class="custom-control-input" {% if profile.questionnaire.q9 == "0" %} checked {% endif %}>
                <label class="custom-control-label" for="q9-a0">{% trans 'I don\'t have any thoughts of killing myself.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q9-a1" value="1" name="q9" class="custom-control-input" {% if profile.questionnaire.q9 == "1" %} checked {% endif %}>
                <label class="custom-control-label" for="q9-a1">{% trans 'I have thoughts of killing myself, but I would not carry them out.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q9-a2" value="2" name="q9" class="custom-control-input" {% if profile.questionnaire.q9 == "2" %} checked {% endif %}>
                <label class="custom-control-label" for="q9-a2">{% trans 'I would like to kill myself.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q9-a3" value="3" name="q9" class="custom-control-input" {% if profile.questionnaire.q9 == "3" %} checked {% endif %}>
                <label class="custom-control-label" for="q9-a3">{% trans 'I would kill myself if I had the chance.' %}</label>
              </div>
            </div>
            {% if profile.questionnaire_reasons.q9 != None and profile.questionnaire_reasons.q9 != "" %}
            <div class="same-row">
              <h6>{% trans 'Context:' %}</h6>
              <p class="text-info">{{ profile.questionnaire_reasons.q9|safe }}</p>
            </div>
            {% endif %}
            <hr>
            <legend>{% trans '10. Crying' %}</legend>
            <div class="form-group" id="q10">
              <div class="custom-control custom-radio">
                <input type="radio" id="q10-a0" value="0" name="q10" class="custom-control-input" {% if profile.questionnaire.q10 == "0" %} checked {% endif %}>
                <label class="custom-control-label" for="q10-a0">{% trans 'I don\'t cry anymore than I used to.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q10-a1" value="1" name="q10" class="custom-control-input" {% if profile.questionnaire.q10 == "1" %} checked {% endif %}>
                <label class="custom-control-label" for="q10-a1">{% trans 'I cry more than I used to.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q10-a2" value="2" name="q10" class="custom-control-input" {% if profile.questionnaire.q10 == "2" %} checked {% endif %}>
                <label class="custom-control-label" for="q10-a2">{% trans 'I cry over every little thing.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q10-a3" value="3" name="q10" class="custom-control-input" {% if profile.questionnaire.q10 == "3" %} checked {% endif %}>
                <label class="custom-control-label" for="q10-a3">{% trans 'I feel like crying, but I can\'t.' %}</label>
              </div>
            </div>
            {% if profile.questionnaire_reasons.q10 != None and profile.questionnaire_reasons.q10 != "" %}
            <div class="same-row">
              <h6>{% trans 'Context:' %}</h6>
              <p class="text-info">{{ profile.questionnaire_reasons.q10|safe }}</p>
            </div>
            {% endif %}
            <hr>
            <legend>{% trans '11. Agitation' %}</legend>
            <div class="form-group" id="q11">
              <div class="custom-control custom-radio">
                <input type="radio" id="q11-a0" value="0" name="q11" class="custom-control-input" {% if profile.questionnaire.q11 == "0" %} checked {% endif %}>
                <label class="custom-control-label" for="q11-a0">{% trans 'I am no more restless or wound up than usual.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q11-a1" value="1" name="q11" class="custom-control-input" {% if profile.questionnaire.q11 == "1" %} checked {% endif %}>
                <label class="custom-control-label" for="q11-a1">{% trans 'I feel more restless or wound up than usual.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q11-a2" value="2" name="q11" class="custom-control-input" {% if profile.questionnaire.q11 == "2" %} checked {% endif %}>
                <label class="custom-control-label" for="q11-a2">{% trans 'I am so restless or agitated that it\'s hard to stay still.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q11-a3" value="3" name="q11" class="custom-control-input" {% if profile.questionnaire.q11 == "3" %} checked {% endif %}>
                <label class="custom-control-label" for="q11-a3">{% trans 'I am so restless or agitated that I have to keep moving or doing something.' %}</label>
              </div>
            </div>
            {% if profile.questionnaire_reasons.q11 != None and profile.questionnaire_reasons.q11 != "" %}
            <div class="same-row">
              <h6>{% trans 'Context:' %}</h6>
              <p class="text-info">{{ profile.questionnaire_reasons.q11|safe }}</p>
            </div>
            {% endif %}
            <hr>
            <legend>{% trans '12. Loss of Interest' %}</legend>
            <div class="form-group" id="q12">
              <div class="custom-control custom-radio">
                <input type="radio" id="q12-a0" value="0" name="q12" class="custom-control-input" {% if profile.questionnaire.q12 == "0" %} checked {% endif %}>
                <label class="custom-control-label" for="q12-a0">{% trans 'I have not lost interest in other people or activities.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q12-a1" value="1" name="q12" class="custom-control-input" {% if profile.questionnaire.q12 == "1" %} checked {% endif %}>
                <label class="custom-control-label" for="q12-a1">{% trans 'I am less interested in other people or things than before.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q12-a2" value="2" name="q12" class="custom-control-input" {% if profile.questionnaire.q12 == "2" %} checked {% endif %}>
                <label class="custom-control-label" for="q12-a2">{% trans 'I have lost most of my interest in other people or things.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q12-a3" value="3" name="q12" class="custom-control-input" {% if profile.questionnaire.q12 == "3" %} checked {% endif %}>
                <label class="custom-control-label" for="q12-a3">{% trans 'It\'s hard to get interested in anything.' %}</label>
              </div>
            </div>
            {% if profile.questionnaire_reasons.q12 != None and profile.questionnaire_reasons.q12 != "" %}
            <div class="same-row">
              <h6>{% trans 'Context:' %}</h6>
              <p class="text-info">{{ profile.questionnaire_reasons.q12|safe }}</p>
            </div>
            {% endif %}
            <hr>
            <legend>{% trans '13. Indecisiveness' %}</legend>
            <div class="form-group" id="q13">
              <div class="custom-control custom-radio">
                <input type="radio" id="q13-a0" value="0" name="q13" class="custom-control-input" {% if profile.questionnaire.q13 == "0" %} checked {% endif %}>
                <label class="custom-control-label" for="q13-a0">{% trans 'I make decisions about as well as ever.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q13-a1" value="1" name="q13" class="custom-control-input" {% if profile.questionnaire.q13 == "1" %} checked {% endif %}>
                <label class="custom-control-label" for="q13-a1">{% trans 'I find it more difficult to make decisions than usual.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q13-a2" value="2" name="q13" class="custom-control-input" {% if profile.questionnaire.q13 == "2" %} checked {% endif %}>
                <label class="custom-control-label" for="q13-a2">{% trans 'I have much greater difficulty in making decisions than I used to.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q13-a3" value="3" name="q13" class="custom-control-input" {% if profile.questionnaire.q13 == "3" %} checked {% endif %}>
                <label class="custom-control-label" for="q13-a3">{% trans 'I have trouble making any decisions.' %}</label>
              </div>
            </div>
            {% if profile.questionnaire_reasons.q13 != None and profile.questionnaire_reasons.q13 != "" %}
            <div class="same-row">
              <h6>{% trans 'Context:' %}</h6>
              <p class="text-info">{{ profile.questionnaire_reasons.q13|safe }}</p>
            </div>
            {% endif %}
            <hr>
            <legend>{% trans '14. Worthlessness' %}</legend>
            <div class="form-group" id="q14">
              <div class="custom-control custom-radio">
                <input type="radio" id="q14-a0" value="0" name="q14" class="custom-control-input" {% if profile.questionnaire.q14 == "0" %} checked {% endif %}>
                <label class="custom-control-label" for="q14-a0">{% trans 'I do not feel I am worthless.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q14-a1" value="1" name="q14" class="custom-control-input" {% if profile.questionnaire.q14 == "1" %} checked {% endif %}>
                <label class="custom-control-label" for="q14-a1">{% trans 'I don\'t consider myself as worthwhile and useful as I used to.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q14-a2" value="2" name="q14" class="custom-control-input" {% if profile.questionnaire.q14 == "2" %} checked {% endif %}>
                <label class="custom-control-label" for="q14-a2">{% trans 'I feel more worthless as compared to other people.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q14-a3" value="3" name="q14" class="custom-control-input" {% if profile.questionnaire.q14 == "3" %} checked {% endif %}>
                <label class="custom-control-label" for="q14-a3">{% trans 'I feel utterly worthless.' %}</label>
              </div>
            </div>
            {% if profile.questionnaire_reasons.q14 != None and profile.questionnaire_reasons.q14 != "" %}
            <div class="same-row">
              <h6>{% trans 'Context:' %}</h6>
              <p class="text-info">{{ profile.questionnaire_reasons.q14|safe }}</p>
            </div>
            {% endif %}
            <hr>
            <legend>{% trans '15. Loss of Energy' %}</legend>
            <div class="form-group" id="q15">
              <div class="custom-control custom-radio">
                <input type="radio" id="q15-a0" value="0" name="q15" class="custom-control-input" {% if profile.questionnaire.q15 == "0" %} checked {% endif %}>
                <label class="custom-control-label" for="q15-a0">{% trans 'I have as much energy as ever.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q15-a1" value="1" name="q15" class="custom-control-input" {% if profile.questionnaire.q15 == "1" %} checked {% endif %}>
                <label class="custom-control-label" for="q15-a1">{% trans 'I have less energy than I used to have.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q15-a2" value="2" name="q15" class="custom-control-input" {% if profile.questionnaire.q15 == "2" %} checked {% endif %}>
                <label class="custom-control-label" for="q15-a2">{% trans 'I don\'t have enough energy to do very much.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q15-a3" value="3" name="q15" class="custom-control-input" {% if profile.questionnaire.q15 == "3" %} checked {% endif %}>
                <label class="custom-control-label" for="q15-a3">{% trans 'I don\'t have enough energy to do anything.' %}</label>
              </div>
            </div>
            {% if profile.questionnaire_reasons.q15 != None and profile.questionnaire_reasons.q15 != "" %}
            <div class="same-row">
              <h6>{% trans 'Context:' %}</h6>
              <p class="text-info">{{ profile.questionnaire_reasons.q15|safe }}</p>
            </div>
            {% endif %}
            <hr>
            <legend>{% trans '16. Changes in Sleeping Pattern' %}</legend>
            <div class="form-group" id="q16">
              <div class="custom-control custom-radio">
                <input type="radio" id="q16-a0" value="0" name="q16" class="custom-control-input" {% if profile.questionnaire.q16 == "0" %} checked {% endif %}>
                <label class="custom-control-label" for="q16-a0">{% trans 'I have not experienced any change in my sleeping pattern.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q16-a1a" value="1a" name="q16" class="custom-control-input" {% if profile.questionnaire.q16 == "1a" %} checked {% endif %}>
                <label class="custom-control-label" for="q16-a1a">{% trans 'I sleep somewhat more than usual.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q16-a1b" value="1b" name="q16" class="custom-control-input" {% if profile.questionnaire.q16 == "1b" %} checked {% endif %}>
                <label class="custom-control-label" for="q16-a1b">{% trans 'I sleep somewhat less than usual.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q16-a2a" value="2a" name="q16" class="custom-control-input" {% if profile.questionnaire.q16 == "2a" %} checked {% endif %}>
                <label class="custom-control-label" for="q16-a2a">{% trans 'I sleep a lot more than usual.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q16-a2b" value="2b" name="q16" class="custom-control-input" {% if profile.questionnaire.q16 == "2b" %} checked {% endif %}>
                <label class="custom-control-label" for="q16-a2b">{% trans 'I sleep a lot less than usual.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q16-a3a" value="3a" name="q16" class="custom-control-input" {% if profile.questionnaire.q16 == "3a" %} checked {% endif %}>
                <label class="custom-control-label" for="q16-a3a">{% trans 'I sleep most of the day.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q16-a3b" value="3b" name="q16" class="custom-control-input" {% if profile.questionnaire.q16 == "3b" %} checked {% endif %}>
                <label class="custom-control-label" for="q16-a3b">{% trans 'I wake up 1-2 hours early and can\'t get back to sleep.' %}</label>
              </div>
            </div>
            {% if profile.questionnaire_reasons.q16 != None and profile.questionnaire_reasons.q16 != "" %}
            <div class="same-row">
              <h6>{% trans 'Context:' %}</h6>
              <p class="text-info">{{ profile.questionnaire_reasons.q16|safe }}</p>
            </div>
            {% endif %}
            <hr>
            <legend>{% trans '17. Irritability' %}</legend>
            <div class="form-group" id="q17">
              <div class="custom-control custom-radio">
                <input type="radio" id="q17-a0" value="0" name="q17" class="custom-control-input" {% if profile.questionnaire.q17 == "0" %} checked {% endif %}>
                <label class="custom-control-label" for="q17-a0">{% trans 'I am no more irritable than usual.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q17-a1" value="1" name="q17" class="custom-control-input" {% if profile.questionnaire.q17 == "1" %} checked {% endif %}>
                <label class="custom-control-label" for="q17-a1">{% trans 'I am more irritable than usual.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q17-a2" value="2" name="q17" class="custom-control-input" {% if profile.questionnaire.q17 == "2" %} checked {% endif %}>
                <label class="custom-control-label" for="q17-a2">{% trans 'I am much more irritable than usual.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q17-a3" value="3" name="q17" class="custom-control-input" {% if profile.questionnaire.q17 == "3" %} checked {% endif %}>
                <label class="custom-control-label" for="q17-a3">{% trans 'I am irritable all the time.' %}</label>
              </div>
            </div>
            {% if profile.questionnaire_reasons.q17 != None and profile.questionnaire_reasons.q17 != "" %}
            <div class="same-row">
              <h6>{% trans 'Context:' %}</h6>
              <p class="text-info">{{ profile.questionnaire_reasons.q17|safe }}</p>
            </div>
            {% endif %}
            <hr>
            <legend>{% trans '18. Changes in Appetite' %}</legend>
            <div class="form-group" id="q18">
              <div class="custom-control custom-radio">
                <input type="radio" id="q18-a0" value="0" name="q18" class="custom-control-input" {% if profile.questionnaire.q18 == "0" %} checked {% endif %}>
                <label class="custom-control-label" for="q18-a0">{% trans 'I have not experienced any change in my appetite.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q18-a1a" value="1a" name="q18" class="custom-control-input" {% if profile.questionnaire.q18 == "1a" %} checked {% endif %}>
                <label class="custom-control-label" for="q18-a1a">{% trans 'My appetite is somewhat less than usual.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q18-a2b" value="2b" name="q18" class="custom-control-input" {% if profile.questionnaire.q18 == "2b" %} checked {% endif %}>
                <label class="custom-control-label" for="q18-a2b">{% trans 'My appetite is somewhat greater than usual.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q18-a2a" value="2a" name="q18" class="custom-control-input" {% if profile.questionnaire.q18 == "2a" %} checked {% endif %}>
                <label class="custom-control-label" for="q18-a2a">{% trans 'My appetite is much less than before.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q18-a2b" value="2b" name="q18" class="custom-control-input" {% if profile.questionnaire.q18 == "2b" %} checked {% endif %}>
                <label class="custom-control-label" for="q18-a2b">{% trans 'My appetite is much greater than usual.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q18-a3a" value="3a" name="q18" class="custom-control-input" {% if profile.questionnaire.q18 == "3a" %} checked {% endif %}>
                <label class="custom-control-label" for="q16-a3a">{% trans 'I have no appetite.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q18-a3b" value="3b" name="q18" class="custom-control-input" {% if profile.questionnaire.q18 == "3b" %} checked {% endif %}>
                <label class="custom-control-label" for="q18-a3b">{% trans 'I crave food all the time.' %}</label>
              </div>
            </div>
            {% if profile.questionnaire_reasons.q18 != None and profile.questionnaire_reasons.q18 != "" %}
            <div class="same-row">
              <h6>{% trans 'Context:' %}</h6>
              <p class="text-info">{{ profile.questionnaire_reasons.q18|safe }}</p>
            </div>
            {% endif %}
            <hr>
            <legend>{% trans '19. Concentration Difficulty' %}</legend>
            <div class="form-group" id="q19">
              <div class="custom-control custom-radio">
                <input type="radio" id="q19-a0" value="0" name="q19" class="custom-control-input" {% if profile.questionnaire.q19 == "0" %} checked {% endif %}>
                <label class="custom-control-label" for="q19-a0">{% trans 'I can concentrate as well as ever.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q19-a1" value="1" name="q19" class="custom-control-input" {% if profile.questionnaire.q19 == "1" %} checked {% endif %}>
                <label class="custom-control-label" for="q19-a1">{% trans 'I can\'t concentrate as well as usual.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q19-a2" value="2" name="q19" class="custom-control-input" {% if profile.questionnaire.q19 == "2" %} checked {% endif %}>
                <label class="custom-control-label" for="q19-a2">{% trans 'It\'s hard to keep my mind on anything for very long.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q19-a3" value="3" name="q19" class="custom-control-input" {% if profile.questionnaire.q19 == "3" %} checked {% endif %}>
                <label class="custom-control-label" for="q19-a3">{% trans 'I find I can\'t concentrate on anything.' %}</label>
              </div>
            </div>
            {% if profile.questionnaire_reasons.q19 != None and profile.questionnaire_reasons.q19 != "" %}
            <div class="same-row">
              <h6>{% trans 'Context:' %}</h6>
              <p class="text-info">{{ profile.questionnaire_reasons.q19|safe }}</p>
            </div>
            {% endif %}
            <hr>
            <legend>{% trans '20. Tiredness or Fatigue' %}</legend>
            <div class="form-group" id="q20">
              <div class="custom-control custom-radio">
                <input type="radio" id="q20-a0" value="0" name="q20" class="custom-control-input" {% if profile.questionnaire.q20 == "0" %} checked {% endif %}>
                <label class="custom-control-label" for="q20-a0">{% trans 'I am no more tired or fatigued than usual.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q20-a1" value="1" name="q20" class="custom-control-input" {% if profile.questionnaire.q20 == "1" %} checked {% endif %}>
                <label class="custom-control-label" for="q20-a1">{% trans 'I get more tired or fatigued more easily than usual.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q20-a2" value="2" name="q20" class="custom-control-input" {% if profile.questionnaire.q20 == "2" %} checked {% endif %}>
                <label class="custom-control-label" for="q20-a2">{% trans 'I am too tired or fatigued to do a lot of the things I used to do.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q20-a3" value="3" name="q20" class="custom-control-input" {% if profile.questionnaire.q20 == "3" %} checked {% endif %}>
                <label class="custom-control-label" for="q20-a3">{% trans 'I am too tired or fatigued to do most of the things I used to do.' %}</label>
              </div>
            </div>
            {% if profile.questionnaire_reasons.q20 != None and profile.questionnaire_reasons.q20 != "" %}
            <div class="same-row">
              <h6>{% trans 'Context:' %}</h6>
              <p class="text-info">{{ profile.questionnaire_reasons.q20|safe }}</p>
            </div>
            {% endif %}
            <hr>
            <legend>{% trans '21. Loss of Interest in Sex' %}</legend>
            <div class="form-group" id="q21">
              <div class="custom-control custom-radio">
                <input type="radio" id="q21-a0" value="0" name="q21" class="custom-control-input" {% if profile.questionnaire.q20 == "0" %} checked {% endif %}>
                <label class="custom-control-label" for="q21-a0">{% trans 'I have not noticed any recent change in my interest in sex.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q21-a1" value="1" name="q21" class="custom-control-input" {% if profile.questionnaire.q20 == "1" %} checked {% endif %}>
                <label class="custom-control-label" for="q21-a1">{% trans 'I am less interested in sex than I used to be.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q21-a2" value="2" name="q21" class="custom-control-input" {% if profile.questionnaire.q20 == "2" %} checked {% endif %}>
                <label class="custom-control-label" for="q21-a2">{% trans 'I am much less interested in sex now.' %}</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="q21-a3" value="3" name="q21" class="custom-control-input" {% if profile.questionnaire.q20 == "3" %} checked {% endif %}>
                <label class="custom-control-label" for="q21-a3">{% trans 'I have lost interest in sex completely at all.' %}</label>
              </div>
            </div>
            {% if profile.questionnaire_reasons.q21 != None and profile.questionnaire_reasons.q21 != "" %}
            <div class="same-row">
              <h6>{% trans 'Context:' %}</h6>
              <p class="text-info">{{ profile.questionnaire_reasons.q21|safe }}</p>
            </div>
            {% endif %}
          </div>
          <div class="modal-footer">
              <button type="submit" class="custom-rounded-small btn btn-primary" name="submit">{% trans 'Correct data' %}</button>
              <button type="button" class="custom-rounded-small btn btn-secondary" data-dismiss="modal" name="close">{% trans 'Close' %}</button>
          </div>
        </form>
    </div>
  </div>
</div>