
{% if task_id or globaldata.load_in_progress %}
<script type="text/javascript">
  $(document).ready(function(){
    $(function () {
      var progressUrl = "{% url 'celery_progress:task_status' globaldata.task_id %}"
      CeleryProgressBar.initProgressBar(progressUrl);  
    
    });

  });
</script>

<div class='progress-wrapper'>
  <div id='progress-bar' class='progress-bar' style="background-color: #68a9ef; width: 0%;">&nbsp;</div>
</div>
<div id="progress-bar-message">Waiting for progress to start...</div>
{% endif %}