{% extends "base_generic.html" %}

{% load i18n %}
{% block title %}Password change{% endblock %}

{% block content %}
<div class="container">
    <div id="password-change-content" class="row">
        <h1 class="col-12 mb-4">{% trans 'Password change' %}</h1>
        <form action="" method="post">
            {% csrf_token %}
            <div class="col-12">
                <p class="text-info">{% trans 'Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.' %}</p>

                <div class="form-group">
                    <label class="col-form-label" for="old_password">{% trans 'Old password' %}</label>
                    <input type="password" name="old_password" class="form-control {% if form.old_password.errors %}is-invalid{% endif %}" placeholder="{% trans 'Old password' %}" id="old_password">
                    <div class="invalid-feedback">{{ form.old_password.errors }}</div>
                </div>

                <div class="form-group">
                    <label class="col-form-label" for="new_password1">{% trans 'New password' %}</label>
                    <input type="password" name="new_password1" class="form-control {% if form.new_password1.errors %}is-invalid{% endif %}" placeholder="{% trans 'New password' %}" id="new_password1">
                    <div class="invalid-feedback">{{ form.new_password1.errors }}</div>
                </div>

                <div class="form-group">
                    <label class="col-form-label" for="new_password2">{% trans 'New password confirmation' %}</label>
                    <input type="password" name="new_password2" class="form-control {% if form.new_password2.errors %}is-invalid{% endif %}" placeholder="{% trans 'New password confirmation' %}" id="new_password2">
                    <div class="invalid-feedback">{{ form.new_password2.errors }}</div>
                </div>

                <div class="submit-row">
                    <input type="submit" value="{% trans 'Change password' %}" class="btn btn-primary">
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}