{% extends "base_generic.html" %}

{% load i18n %}
{% block title %}Password reset{% endblock %}

{% block content %}
<div class="container"> 
    <div id="password-change-content" class="row">
        <h1 class="col-12 mb-4">{% trans 'Password reset' %}</h1>
        <div class="col-12">
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label class="col-form-label" for="email">{% trans 'Email' %}</label>
                    <input type="text" name="email" class="form-control {% if form.email.errors %}is-invalid{% endif %}" placeholder="Email" id="email">
                    <div class="invalid-feedback">{{ form.email.errors }}</div>
                </div>
                <div class="submit-row">
                    <input type="submit" name="submit" value="{% trans 'Reset password' %}" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}